@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
        background-color: #1b895b;
    }

    .nav-tabs > li {
        display: none;
    }

    .nav-tabs .dropdown {
        display: block;
    }
}