#widget {
    width: 200px;
}

#widget .widget-toggle-cancel,
#widget .widget-toggle {
    position: fixed;
    margin-top: 10px;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    background-color: #fff;
    padding: 8px;
    border-radius: 40px;
    box-shadow: 0 0 5px;
}

#widget .widget-toggle-cancel img,
#widget .widget-toggle img,
#widget .float-contact-content img {
    height: 30px;
    margin-bottom: 0;
}

#widget .float-contact {
    position: fixed;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    bottom: 80px;
    right: 20px;
    z-index: 99999; 
    animation: slideUp ease 0.5s forwards;
}

#widget .float-contact-header {
    color: #fff;
    background-color: #1e5799;
    padding: 10px 5px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#widget .float-contact-header p {
    margin-bottom: 0;
}

#widget .float-contact-content {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fff;
}

#widget .float-contact-content div {
    padding: 10px 0;
}

#widget .float-contact-content img {
    padding: 0 20px 0 10px;
}

@keyframes slideUp {
    from {
        opacity: 0;
       	bottom: -80px;
    }

    to {
        opacity: 1;
		bottom: 80px;
    }
}

@media (min-width: 64em) {
    .widget-toggle-cancel:hover,
    .widget-toggle:hover {
        transform: scale(0.95);
    }
}

@media (max-width: 63.9375em) {
	.widget-toggle-cancel:active,
    .widget-toggle:active {
        transform: scale(0.95);
    }
}


